
<header>
    <h2 style="color:chartreuse" class="center">¡Bienvenidos!</h2>

</header>

<body>
    <p style="color:green; font-family:'Times New Roman', Times, serif;font-size:large; ">
        La riqueza natural del Valle de Sula ofrece variada y abundante flora tanto en árboles,
        arbustos y hierbas, las cuáles poseen potencialidades para ser utilizadas en el Diseño de Jardines
        y el Diseño Paisajista debido a su belleza, colores, texturas, formas, alturas entre otras características
        de igual importancia, siendo necesarias para volver más atractivos y paisajistas todo tipo de proyectos
        futuros enfocados a éstas disciplinas y a su vez para lograr mantener un equilibrio y coherencia entre el
        hombre – Medio Ambiente – Arquitectura.
        Para ello, se realiza la Guía de Vegetación existente en el Valle de Sula que caracterice 104 plantas tanto
        en forma, dimensión, mantenimiento, poda, riego, longevidad, crecimiento etc. Esta consiste en un instrumento
        de consulta y apoyo dirigido a profesionales y estudiantes en las ramas del Diseño Ambiental, Arquitectura y
        otras disciplinas afines para la planificación de nuevas ciudades y todos aquellos proyectos que involucren las
        disciplinas del paisajismo,
        botánica, horticultura y jardinería.
    </p> 

    <div class="gifContainer">
        <img src="http://1.bp.blogspot.com/-up94MQElda8/U55rw_D6CcI/AAAAAAAADBE/mmg4p_V-_fw/s1600/t6b9zzafhmkclms3mqr0.gif" class="img-circle img-responsive">
    </div>

    <p style="color:green; font-family:'Times New Roman', Times, serif;font-size:large; ">
        La guía contiene información técnica y gráfica de la vegetación nativa, tales como fotografías, <br />
        el nombre común, científico, la familia, características  fundamentales, y la correspondiente vista en<br />
        planta y modelos 3d de cada una.<br />
        Así mismo el documento contiene otros temas particulares que motivarán también su consulta como son: <br />
        Generalidades, tipos de suelos, características de la vegetación según su uso en el diseño de espacios verdes,<br />
        enfermedades, plagas, técnicas de poda etc. y usos de la vegetación en el  Diseño de espacios verdes,<br />
        mantenimiento de las especies vegetales y otros.
    </p>
</body>

